<h2>Counter Task</h2>
<hr>

<p-card>
    <!-- number -->
    <h2> Counter: {{ counterValue }} </h2>

    <!-- buttons component -->
    <div class="buttons-container m-5">
        <app-buttons (signal)="getButtonsSignal($event)" ></app-buttons>
    </div>

    <!-- counts component -->
    <div class="counts-container m-5">
        <app-counts [setTo]="setTo" 
                    (step)="getInputSignal($event)"
                    class="flex justify-content-center"></app-counts>
    </div>
</p-card>

<!-- Debugging -->
<!-- <pre> {{ counterData | json }} </pre> -->