
<p-card header="Register Form" class="flex align-items-center justify-content-center">
    <div class="container-controller">
        <h5>Controller</h5>
        <p-dropdown [options]="trafficLightColors"
                    [(ngModel)]="selectedColor"
                    (ngModelChange)="emitColor()"
                    placeholder="Select a Color" 
                    optionLabel="name"
        ></p-dropdown>
    </div>
    
    <div class="field-checkbox">
        
        <p-checkbox [binary]="true" 
                    inputId="binary"
                    name="checked"
                    (onChange)="togglePower()"
        ></p-checkbox>
        <label for="binary">On/Off</label>
    </div>
</p-card>

<!-- <pre> {{ checked }} </pre> -->