<div class="grid">
    <div class="col">
        <p-fieldset legend="Parent" [toggleable]="false" class="">
            <!-- print messaage -->
            <p>message: <strong *ngIf="1"> {{ 1 }} </strong></p>
            <!-- Buttons -->
            <div class="flex">
                <button pButton 
                        class="flex flex-1 align-items-center justify-content-center m-2" 
                        label="Use Service"
                        ></button>
                <button pButton class="flex flex-1 align-items-center justify-content-center m-2" label="Use Input"></button>
                <button pButton class="flex flex-1 align-items-center justify-content-center m-2" label="Use Observable"></button>
            </div>
            <!-- child fieldset -->
            <app-comunication-child></app-comunication-child>
        </p-fieldset>
    </div>
</div>