<p-fieldset legend="Child" [toggleable]="false">
    <!-- print messaage -->
    <p>message: <strong> {{ 1 }} </strong></p>
    <!-- Buttons -->
    <div class="flex">
        <button pButton class="flex flex-1 align-items-center justify-content-center m-2" label="Use Service"></button>
        <button pButton 
                class="flex flex-1 align-items-center justify-content-center m-2" 
                label="Use Input"
                ></button>
        <button pButton class="flex flex-1 align-items-center justify-content-center m-2" label="Use Observable"></button>
    </div>
    <!-- child fieldset -->
</p-fieldset>